<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台管理</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/adminIndex.css">
  <script src="/js/jquery-1.7.2.min.js"></script>
  <script src="/js/adminIndex.js"></script>
</head>

<body>
  <div id="wrapper" class="container-fluid">
    <div class="header bg-primary">
      <span class="h2">欢迎来到商品管理系统！</span>
      <span class="f-right m-right">
        
        <a href="/admin/loginOut"><span class=" h-orange">【退出】</span></a>
      </span>
    </div>