<% include ../../public/header.html %>


  <div class="container-fluid">
    <div class="row">

      <% include ../../public/left.html %>

        <div class="col-md-10 right-content">

          <div id="content" style="margin-top: 20px;">
            <div class="h4" style="margin-bottom: 20px;">添加商品</div>
            <form method="post" action="/admin/product/doAdd" enctype="multipart/form-data">

              <label for="exampleInputName2">商品名称</label>
              <input type="text" id="exampleInputName2" name="name">

              <br>

              <label for="exampleInputEmail2">商品图片</label>
              <input type="file" id="exampleInputEmail2" name="pic">
              <br>
              <label for="exampleInputName0">商品价格</label>
              <input type="text" id="exampleInputName0" name="price">
              <br>
              <label for="exampleInputName1">商品描述</label>
              <input type="text" id="exampleInputName1" name="details">
              <br>
              <input type="submit" class="btn btn-primary"value="增加">
            </form>
          </div>

        </div>
    </div>
  </div>
  </div>

  </body>

  </html>